@use '@/app/styles/mixins' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 21px;
  border: 1px solid $color-border;
  border-radius: 24px;
  background-color: $color-card-bg;
  box-shadow: 0 8px 30px -10px rgb(from #{$color-button-bg} r g b / 25%);
}