@use '@/app/styles/mixins' as *;

.page {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}

.back {
  @include typography-ui(14px, 400);

  color: $color-text;

  &:hover {
    color: $color-primary;
  }
}

.title {
  margin: 13.5px 0;
}
