@use '@/app/styles/mixins' as *;

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.footer {
  @include typography-ui(12px, 400);

  text-align: center;
}

.footerLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 26rem;
  background: $color-card-bg;
  border-radius: 24px;
  padding: 35px 25px 25px;
  box-shadow: 0 8px 30px -10px rgb(from #{$color-button-bg} r g b / 35%);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.titleIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 16px;
  background-color: #fb98904d;
}

.title {
  margin: 0;
  @include typography-ui(18px, 700);

  line-height: 28px;
  text-align: center;
}

.titleSubtitle {
  @include typography-ui(12px, 400);

  text-align: center;
}

.error {
  margin: 0;
  font-size: 14px;
  color: $color-primary;
  text-align: center;
}

.formFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  align-items: center;
  width: 100%;
}

.formFooterButton {
  min-width: 100%;
}

.formFooterDescription {
  @include typography-ui(12px, 400);

  text-align: center;
}
