@use '@/app/styles/mixins' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  width: 95%;
}

.newTopicButton {
  @include button-shared;
}