.root {
  background-color: $color-button-bg;
  border-radius: 16px;
  padding: 8px 16px;
  border: none;
  font-family: $font-family-base;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: $color-button-text;

  &:hover {
    filter: brightness(1.03);
  }

  &:active {
    transform: translateY(1px);
  }
}