@use '@/app/styles/mixins' as *;

.errorPageContainer{
    text-align: center;    
    max-width: 448px;
    margin: auto;
}

.errorIcon{
    display: block;
    margin: 0 auto 12px;
}

.errorHeader{    
    font-family: 'Fredoka', Nunito, sans-serif;
    font-size: 72px;
    font-weight: 700;   
    margin: 0 0 24px;
}

.errorSubHeader{
    font-size: 20px;
    margin: 0 0 24px;
}

.errorText{
  margin-bottom: 24px;
  font-size: 14px;

  p{
    margin: 0;
  }
}

.errorPageButton{
  @include button-shared;
  display: block;
  width: fit-content;
  margin: auto;
}
