@use '@/app/styles/mixins' as *;

.root {
  @include typography-ui;
  padding: 0;
  border: none;
  background: none;
  color: $color-title;
  cursor: pointer;

  &:hover:not(:disabled) {
    color: $color-primary;
  }

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }
}
