@use '@/app/styles/mixins' as *;
.noHeaderMain{
  padding-top: 20vh;
}

.errorPageContainer{
    --margin-bottom: 24px;
    text-align: center;    
    max-width: 448px;
    margin: auto;
}

.errorIcon{
    display: block;
    margin: 0 auto 12px;
}

.errorHeader{    
    font-family: 'Fredoka', Nunito, sans-serif;
    font-size: 72px;
    font-weight: 700;   
    margin: 0 0 var(--margin-bottom);
}

.errorSubHeader{
    font-size: 20px;
    margin: 0 0 var(--margin-bottom);
}

.errorText{
  margin-bottom: var(--margin-bottom);
  font-size: 14px;

  p{
    margin: 0;
  }
}

.errorPageButton{
  @include button-shared;
  display: block;
  width: fit-content;
  margin: auto;
}

.errorPageWhiteButton{
  @include white-button-shared;
}
