$color-primary: #bf4f74;
$color-button-bg: #FB9890;
$color-button-text: #321A16;
$color-title: #492923;
$color-subtitle: #785C52;
$color-border: #F4E0D1;
$color-input-border: #f8e8db;
$color-accent: rebeccapurple;
$color-link-bg: papayawhip;
$color-page-bg: #fff9ed;
$color-page-glow-pink: #ffd7d1;
$color-page-glow-cyan: #9deff3;
$color-card-bg: #FFFFFFCC;
$color-text: #785C52;

$font-family-base: 'Nunito', system-ui, -apple-system, sans-serif;
