$color-primary: #bf4f74;
$color-button-bg: #FB9890;
$color-button-text: #321A16;
$color-accent: rebeccapurple;
$color-link-bg: papayawhip;

$font-family-base: 'Nunito', system-ui, -apple-system, sans-serif;
